<div class="m-3 p-3">
  <h1>You scored <%= @score %> points! <strong>Current score: <%= @current_score %> points</strong> </h1>
  <%= @result %>

  <p><%= link_to "Play again!", new_path %></p>
</div>

